# Dependencias
/node_modules
/npm-debug.log
/yarn-error.log
/yarn-debug.log

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor específico
.idea/
.vscode/
*.swp
*.swo